// Миксины для медиа-запросов (desktop first)

@use './variables' as *;


@mixin desktop {
  @media (min-width: $desktop) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: $tablet) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: $mobile) {
    @content;
  }
}

